<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
</head>
<body>
<div layout:fragment="below-navbar-content" class="container">
    <form th:action="@{/wordsmanager/export}" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Words number</th>
                    <th>From</th>
                    <th>To</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="w,iter : ${wordsToLearn}">
                    <td th:text="${w.words.size()}"></td>
                    <td th:text="${w.sourceLanguage}"></td>
                    <td th:text="${w.destinationLanguage}"></td>
                    <td><input name="wordsToLearnIndices[]" type="checkbox" th:value="${iter.index}" /></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Export selected" />
    </form>
</div>
</body>
</html>
